<h3>スケジュール新規作成</h3>

<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>


<%= form_with model:@user do |f| %>

<%= render "shared/error", obj: f.object %>

  <table>
    <tr>
      <th><%= f.label :title, "タイトル"%></th>
      <td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <th><%= f.label :start_date, "開始日時"%></th>
      <td><%= f.datetime_field :start_date %></td>
    </tr>
    <tr>
      <th><%= f.label :end_date, "終了日時"%></th>
      <td><%= f.datetime_field :end_date %></td>
    </tr>
    <tr>
      <th><%= f.label :all_day, "終日"%></th>
      <td><%= f.check_box :all_day %></td>
      
    </tr>
    <tr>
      <th><%= f.label :memo, "スケジュールメモ"%></th>
      <td><%= f.text_area :memo %></td>
    </tr>
  </table>

<%= f.submit "スケジュールを新規登録する"%>

<% end %>

<%=link_to "◇ スケジュール一覧に戻る ◇", :users %>