<!DOCTYPE html>
<html>
  <head>
    <title>RailsTask1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>スケジュールアプリ</header>
    <%= yield %>
    
    
    <footer>
      今日の日付：<%= Date.current.strftime("%Y年 %m月 %d日")%><br>
      <% @count = User.count %>
      スケジュール合計：<%= @count %>
    </footer>
  </body>
</html>
